body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.special-data {
  color: red;
}

.img-container {
  display: flex;
  justify-content: center;
}

.return {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
